<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Site.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <section class="header_container">
                <section class="float-left"><img src="~/Images/header.png"/></section>
                <section class="float-right">
                    <nav>
                        <ul class="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Purchase", "Purchase", "Home")</li>
                            <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                            <li>@Html.ActionLink("Team", "Team", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </section>
            </section>
        </header>
        <section class="content">
            @*@RenderSection("featured", required: false)*@
            <div class="content-wrapper main-content clear-fix">
                @RenderBody()
            </div>
        </section>
        <footer>
            <div class="footer_container">
                <div class="float-left">
                    <p class="footer_text">Copyright &copy; @DateTime.Now.Year . QR Lifeline</p>
                </div>
                <div class="float-right">
                    <div class="footer_logo"><img src="~/Images/footer_kraken.png" /></div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
